fire
triton
pydantic
accelerate
deepspeed
huggingface-hub
imageio
numpy==1.21.6
omegaconf
pandas
Pillow
tokenizers
torch
torchvision
transformers==4.42.4
xformers==0.0.16
safetensors
diffusers==0.28.2
sentencepiece
gradio
opencv-python
einops
timm
onnxruntime
